/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require_self
*/

html, body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 3px;
    background: #FFF;
    color: #343437;
    font-weight: normal;
    font-size: 12px;
}

.layout-invisible {
    display: none;
}

.input-container {
    background-color: #111111;
    margin-bottom: 10px;
    padding-top: 5px;
    color: whitesmoke;
    height: 120px;
    text-align: left;
}

.logo-container {
    background-color: #FFFFFF;
    margin-top: 5px;
    color: black;
    height: 120px;
    text-align: center;
}

.logo {
    max-height: 115px;
}
